page-lineup {
    .content{
        background-image: url(https://image.iol.co.za/image/1/process/620x349?source=https://cdn.africannewsagency.com/public/ana/media/media/2019/07/01/1562002799830.jpg&operation=CROP&offset=0x192&resize=6245x3506);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
      
      
}
