page-home {
    .content{
        background-image: url(https://scontent-lga3-1.cdninstagram.com/vp/c3943726b5f43b1cb318af8d5de1fbf1/5DA5A996/t51.2885-15/sh0.08/e35/s640x640/61981132_208700560108826_1200484979875271164_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com);
        padding-top: 500px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .user{
      
        height: 10%;
        padding: 150px;
        font-size: 110px;
        align-self: auto;
        font-family: 'Russo One', sans-serif;
        color:black;
    position: relative;
        }
       
    


    
}
